<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Inventory System</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantite</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item['itemId'] }}</td>
            <td>{{ item['itemName'] }}</td>
            <td>{{ item['itemPrice'] }}</td>
            <td>{{ item['itemQuantity'] }}</td>
            <td>
                <a href="{{ url_for('update', id=item['itemId']) }}">Update</a>
                <a href="{{ url_for('delete', id=item['itemId']) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add') }}">Add New Item</a><hr>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Log Out</a><hr>
    <a href="{{ url_for('generate_excel') }}" class="btn btn-primary">Generate Excel</a>
</body>
</html>
